<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/css/carrinho.css">
</head>
<body>
    
    <main id="carrinho">
        <div class="cx1">
            <h2 class="compras">Minhas Compras</h2>

            <section class="sub">
                <h5 class="produtos">Produtos</h5>
                <h5>Quantidade</h5>
                <h5>Preço</h5>        
            </section>
            
        </div>
        <div class="cx2">
            <h2>Resumo do Pedido</h2>
            <h3 class="total">total</h3>
            <button>Finalizar a compra</button>
            <a href="">continuar comprando</a>
        </div>
    </main>
   
</body>
</html>