<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/geral.css">
    <link rel="stylesheet" href="../public/css/enderecoStyle.css">
    <link rel="stylesheet" href="../public/css/headerStyle.css">
    <title>Cadastro Endereço</title>
</head>
<body>

    <header>
        <div class="containerHeader" id="containerHeader">
            BRACKISH
            <!-- <a href="" id="logo">
                <img src="../public/img/logotemporario.png" alt="logo"> -->
            <!-- </a> -->

                <a href="/feminino">Ajuda</a>
                <a href="/feminino">Cadastro</a>
                <a href="/feminino">Login</a>

        </div>

    <main>
        <div class="mainn">
            
            <div class="container">
                <span class="spanEndereco">ENDEREÇO DE ENVIO</span>
                <div class="linha1">
                    <input class="cep" type="text" placeholder="CEP" maxlength="9">
                    <input class="estado" type="text" placeholder="Estado">
                </div>

                <div class="linha2">
                    <input class="cidade" type="text" placeholder="Cidade">
                    <input class="bairro" type="text" placeholder="Bairro">
                </div>
                
                <div class="linha3">
                    <input class="tipo" type="text" placeholder="Tipo">
                    <input class="logradouro" type="text" placeholder="Logradouro">
                </div>

                <input class="linha4" type="text" placeholder="número" maxlength="10">
                
            </div>
        </div>
    </main>



</body>
</html>