<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/geral.css">
    <link rel="stylesheet" href="../public/css/enderecoStyle.css">
    <link rel="stylesheet" href="../public/css/headerStyle.css">
    <title>Cadastro Endereço</title>
</head>
<body>

    <header>
        <div class="containerHeader" id="containerHeader">
            BRACKISH
            <!-- <a href="" id="logo">
                <img src="../public/img/logotemporario.png" alt="logo"> -->
            <!-- </a> -->

                <a href="/feminino">Ajuda</a>
                <a href="/feminino">Cadastro</a>
                <a href="/feminino">Login</a>

        </div>
        <div class="menu">
            <a href="" id="logo2">
                <img src="../public/img/casual-t-shirt-.png" alt="logo2">
            </a>
            <nav>
                <a href="/feminino">Feminino</a>
                <a href="/masculino">Masculino</a>
                <a href="/infantil">Infantil</a>
                <a href="/lancamentos">Lançamentos</a>
                <a href="/promoções">Promoções</a>
                
                
            </nav>

            <div class="pesquisar" id="pesquisar">
                <input type="text" placeholder="Buscar">
                <button type="submit">Buscar</button>
            </div>
            <a href="/carrinho" id="carrinho">
                <img src="../public/img/carrinho.png" alt="carrinho">
                <span>0</span>
            </a>
        </div>
    </header>

    <main>
        <div class="mainn">

            <div class="container1">
                <span class="select">SELECIONE UM ENDEREÇO</span>
                <div>
                    <input class="enderecoCadastrado" type="text" placeholder="Ex. Rua Maria das Flores, 666, CEP 66666-666">
                </div>
                <button class="save">Salvar e continuar para pagamento</button>

            </div>
            
            <div class="container2">
                <span class="spanEndereco">CADASTRAR NOVO ENDEREÇO</span>
                <div class="linha1">
                    <input class="cep" type="text" placeholder="CEP" maxlength="9">
                    <input class="estado" type="text" placeholder="Estado">
                </div>

                <div class="linha2">
                    <input class="cidade" type="text" placeholder="Cidade">
                    <input class="bairro" type="text" placeholder="Bairro">
                </div>
                
                <div class="linha3">
                    <input class="tipo" type="text" placeholder="Tipo">
                    <input class="logradouro" type="text" placeholder="Logradouro">
                </div>

                <input class="linha4" type="text" placeholder="número" maxlength="10">

                <a href="#"><button class="back">Voltar ao carrinho</button></a>
                <a href="#"><button class="salvar">Salvar e Continuar</button></a>
                
            </div>
        </div>
    </main>



</body>
</html>