<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/geral.css">
    <title>Document</title>
</head>
<body>

    <header>

        <link rel="stylesheet" href="/css/headerStyle.css">
        <div class="containerHeader" id="containerHeader">
            <a href="">BRACKISH</a>
            <nav>
                <a href="/feminino">Ajuda</a>
                |
                <a href="/feminino">Cadastro</a>
                |
                <a href="/feminino">Login</a>
            </nav>

        </div>

        <div class="menu">
            <a href="" id="logo2">
                <img src="img/earth.png" alt="logo2">
            </a>
            <nav>
                <a href="/feminino">Feminino</a>
                <a href="/masculino">Masculino</a>
                <a href="/infantil">Infantil</a>
                <a href="/lancamentos">Lançamentos</a>
                <a href="/lancamentos">Black Friday</a>
                <a href="/lancamentos">Mais Vendidos</a>
                <a href="/lancamentos">Promoções</a>
            </nav>

            <div class="pesquisar" id="pesquisar">
                <input type="text" placeholder="Buscar">
                <button type="submit">
                    <a href="/resultado_busca.html">
                    <img src="/img/loupe.png" alt="">
                    </a>
                </button>
            </div>
            <a href="/carrinho" id="carrinho">
                <img src="img/carrinho.png" alt="carrinho">
                <span>0</span>
            </a>
        </div>
    </header>

    <div class="pagamentoSeguro">
        <link rel="stylesheet" href="/css/pagamentoStyle.css">
        <span class="logo_check">BRACKISH</span>
        <span class="barra">/</span>
        <img src="/img/cadeado3.png" alt="">
        <span class="letras_checkoutSeguro">CHECKOUT SEGURO</span>

    </div>  
    
    <div class="container1">

        <link rel="stylesheet" href="/css/pagamentoStyle.css">
        <ol class="ol">
            <li>
                <span>1 Entrega</span>
                <div class="stepbar"></div>
            </li>

            <li>
                <span><strong>2 Pagamento</strong></span>
                <div class="stepbar"></div>
            </li>

            <li>
                <span>3 resumo</span>
                <div class="stepbar-res"></div>
            </li>
        </ol>
    </div>

    <main>

        <link rel="stylesheet" href="/css/pagamentoStyle.css">
        
        <div class="container-princ">
            <div class="container2">
                    <span class="span-form">Escolha a forma de pagamento</span>

                    <div class="container3">
                        <article class="paypal"><img src="/img/paypal.png" alt=""></article>
                        <article class="boleto"><img src="/img/Boleto .jpg" alt=""></article>
                        <article class="card"><img src="/img/iconecard2.png" alt="">Cartão de crédito ou débito</article>
                    </div>
                

                    <div class="opcao-de-pagamento">
                        <input type="text" name="" id="" placeholder="1x de R$ 3.919,00 sem juros">
                    </div>

                    <span class="information">Pagamento em até 12x com parcela mínima de R$ 5 </span>

                    <p style="margin-top: 2rem; font-size: 17px;" >DADOS DO CARTÃO</p>

                    <div class="div-inform-card">
                        <form action="/registro">
                            <label for="nome">Nome do titular do cartão</label>
                            <input class="input-nome" type="text" name="nome">

                            <label for="numero">Número do cartão</label>
                            <input class="input-num-card" type="text" name="numero">

                            <label style="margin-left: 14.5rem" for="valid">Data de Validade</label>
                            <input placeholder="MM/AA" class="input-num-valid" type="number" name="Data">

                            <label for="cvm">Código de segurança</label>
                            <input class="cvm" type="text" name="cvm">

                            <input class="checkbox-save-dice" type="checkbox" name="save-dice">
                            <label for="save-dice">Salvar dados do pagamento</label>
                            
                        </form>

                    </div>

                    <p>ENDEREÇO DE COBRANÇA</p>

                    <div class="adress-collection">

                        <div class="name">
                            <span>João Paulo Araújo fontes</span>
                        </div>

                        <div class="adress">
                            <span>Rua das rosas</span>
                            <span>196</span>
                            <span>Curitiba</span>
                            <span>Praça da espanha, 89345-354</span>
                        </div>

                        <div class="country">
                            <span>Brasil</span>
                            <span class="editar"><strong>editar</strong></span>
                        </div>

                    </div>
            </div>
        </div>          
    </main>



</body>
</html>