<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/geral.css">
    <title>Document</title>
</head>
<body>

    <div class="pagamentoSeguro">

        <span class="logo_check">BRACKISH</span>
        <span class="barra">/</span>
        <img src="../public/img/cadeado3.png" alt="">
        <span class="letras_checkoutSeguro">CHECKOUT SEGURO</span>
    </div>  
    
    
    <main>

        <link rel="stylesheet" href="../public/css/pagamentoStyle.css">

        <div class="container">
            <div class="container1">
                <ol class="ol">
                    <li>
                        <span>1 Entrega</span>
                        <div class="stepbar"></div>
                    </li>

                    <li>
                        <span><strong>2 Pagamento</strong></span>
                        <div class="stepbar"></div>
                    </li>

                    <li>
                        <span>3 resumo</span>
                        <div class="stepbar-res"></div>
                    </li>
                </ol>
            </div>

            <div class="container2">
                    <span class="span-form">Escolha a forma de pagamento</span>

                    <div class="container3">
                        <article class="paypal"><img src="../public/img/paypal.png" alt=""></article>
                        <article class="boleto"><img src="../public/img/Boleto .jpg" alt=""></article>
                        <article class="card"><img src="../public/img/iconecard2.png" alt="">Cartão de crédito ou débito</article>
                    </div>
                </section>
            

        </div>
    </main>



</body>
</html>