<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/footerStyle.css">
    <link rel="stylesheet" href="/css/clienteStyle.css">
    <script src="js/footer.js"></script>
    <title>BRACKISH</title>
</head>


<body>

    <%- include('partials/header') %>

    <main>
        <section class="containerMain">
            <div class="centroPessoal">
                <h1>Centro pessoal</h1>
                <h2>Minha conta</h2>
                <h2>Meus ativos</h2>
                <h2>Meus pedidos</h2>
                <h2>As minhas listas</h2>
                <h2>Serviço ao cliente</h2>
                <h2>Outros serviços</h2>
                <h2>Política</h2>
                <h2>Sair</h2>
            </div>
            <div class="cliente">
                <h1>Cliente</h1>
                <div class="clienteContainer">
                    <a href="">
                        <span>
                            <h1>2</h1>
                        </span>
                        Cupons
                    </a>
                    <a href="">
                        <img src="img/dollar.png" alt="">
                        Pontos
                    </a>
                    <a href="">
                        <img src="img/wallet.png" alt="">
                        Carteira
                    </a>
                    <a href="">
                        <img src="img/gift.png" alt="">
                        Cartão de presente
                    </a>
                </div>
            </div>

            <div class="pedidos">
                <h1>Meus pedidos</h1>
                <div class="pedidosContainer">
                    <a href="">
                        <img src="img/empty-box.png" alt="">
                        Não pago
                    </a>
                    <a href="">
                        <img src="img/supplies.png" alt="">
                        Processando
                    </a>
                    <a href="">
                        <img src="img/delivery.png" alt="">
                        Enviado
                    </a>
                    <a href="">
                        <img src="img/exchange.png" alt="">
                        Devolução
                    </a>
                </div>
            </div>

            <div class="servico">
                <h1>Serviço ao cliente</h1>
                <div class="servicoContainer">
                    <a href="">
                        <img src="img/email.png" alt="">
                        Minhas mensagens
                    </a>
                    <a href="">
                        <img src="img/spreadsheet.png" alt="">
                        Serviço registros
                    </a>
                </div>
            </div>

            <div class="desejos">
                <h1>Lista de desejos</h1>
                <div class="desejosContainer">
                    <div id="desejosImg">
                        <img src="img/heart.png" alt="">
                    </div>
                    Você ainda não salvou nada recentemente
                </div>
            </div>
            </div>

        </section>
        </div>
    </main>

    <%- include('partials/footer') %>

</body>


</html>