<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="/css/homeStyle.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/footerStyle.css">
    <link rel="stylesheet" href="/css/promocaoStyle.css">
    <title>BRACKISH</title>
</head>


<body>
    <header>
        <div class="containerHeader" id="containerHeader">
            <a href="">BRACKISH</a>
            <nav>
                <a href="/feminino">Ajuda</a>
                |
                <a href="/feminino">Cadastro</a>
                |
                <a href="/feminino">Login</a>
            </nav>

        </div>

        <div class="menu">
            <a href="" id="logo2">
                <img src="img/earth.png" alt="logo2">
            </a>
            <nav>
                <a href="/feminino">Feminino</a>
                <a href="/masculino">Masculino</a>
                <a href="/infantil"><span>Infantil</span>
                    <!-- <ul>
                        <li><a href="#">0-2</a></li>
                        <li><a href="#">3-5</a></li>
                        <li><a href="#">5-10</a></li>
                    </ul>
                </a> -->
                <a href="/lancamentos">Lançamentos</a>
                <a href="/black-friday">Black Friday</a>
                <a href="/lancamentos">Mais Vendidos</a>
                <a href="/lancamentos">Promoções</a>
            </nav>

            <div class="pesquisar" id="pesquisar">
                <input type="text" placeholder="Buscar">
                <button type="submit">
                    <a href="/resultado_busca.html">
                    <img src="/img/loupe.png" alt="">
                    </a>
                </button>
            </div>
            <a href="/carrinho" id="carrinho">
                <img src="img/carrinho.png" alt="carrinho">
                <span>0</span>
            </a>
        </div>
    </header>

    <main>
        <section class="flex">

            <a href="" class="item1"><img src="/img/jeans-foto.png" alt=""></a>
            <div class="item2">
                <a href="">Ver Ofertas</a>
                <a href="">Novas Ofertas</a>
                <a href="">Saiba Mais</a>
            </div>
            <a href="" class="item3"><img src="/img/imagem-roupa.jpg" alt=""></a>
            <div class="item31">
                <a href="">Conheça a Coleção</a>
                <a href="">Saiba Mais</a>
            </div>
            <div class="item4">
                <div class="item41"><img src="/img/primavera-branca.png" alt=""></div>
                <div class="item42"><a href=""><img src="/img/feminino-verao.png" alt=""></a></div>
                <div class="item43"><a href=""><img src="/img/masculino-verao.png" alt=""></a></div>
                <div class="item44"><img src="/img/vera-trans-branco-1.png" alt=""></div>
                <div class="item45"><a href="" class=><img src="/img/feminino-primavera-3.png" alt=""></a></div>
                <div class="item46">61111111</div>
                <div class="item47"><a href=""><img src="/img/masculino-primavera.png" alt=""></a></div>
                
            </div>
            <div class="item411">
                <a href="">Conheça a Coleção</a>
                <a href="">Saiba Mais</a>
            </div>
            <div class="spacer">
            <span>Leve 2 Pague 1 </span>

            </div>
            <div class=item5>
                <a href="" class="item51">
                    <div>
                        <img src="/img/promocao-2.gif" alt="">

                    </div>
                </a>
                <!-- <a href="" class="item52"><img src="/img/img12" alt=""></a> -->
            </div>
            <div class="spacer">
            <span>Promoções</span>

            </div>
            <div class="item6">
                

                    <a href="">
                        <div>
                            
                            <img src="/img/bottom-image-1.png" alt="">
                            <p>Moda Geek</p>
    
                        </div>
                        
                    </a>
                    <a href="">
                        <div>
                            <img src="/img/bottom-image-2.png" alt="">
                            <p>Moda Jeans</p>

                        </div>
                    </a>
                    <a href="">
                        <div>
                            <img src="/img/bottom-image-3.png" alt="">
                            <p>Favoritos</p>
                            
                        </div>
                    </a>
    
                    
               
             
            </div>





        </section>
        <!--Imagem de Promoções-->


    </main>
    
    <footer >
        <div class="container-total">
            <div class ="row">
                <div class="container-part">
                    <div>
                        <h3>Receba novidades por email</h3>
                    </div>
                    <div>
                        <a class="noticias" href="">Seja o primeiro a saber sobre os nossos lançamentos!</a>
                    </div>
                    <div class="form-group">
                        <input type="email" class="email" placeholder="Digite seu email">
                        <button class="botao">Cadastrar</button>
                    </div>
                </div>   
                <div class="col-md">
                    <h4>Categorias</h4>
                    <ul class="table1">
                        <li><a href="">Women</a></li>
                        <li> <a href="">Men</a></li>
                        <li><a href="">Kids</a></li>
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Equipament</a></li>
                        <li><a href="">By activity</a></li>
                        <li><a href="">Gift Cards</a></li>
                        <li><a href="">Sale</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>Help</h4>
                    <ul class="table1">
                        <li><a href="">Help Center</a></li>
                        <li> <a href="">Order Status</a></li>
                        <li><a href="">Size Chart</a></li>
                        <li><a href="">Returns & Warranty</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>About</h4>
                    <ul class="table1">
                        <li><a href="">Sobre Nós</a></li>
                        <li> <a href="">Trabalhe com a gente</a></li>
                        <li><a href="">Technology & Innovation</a></li>
                        <li><a href="">Explore our stories</a></li>
                    </ul>
                </div>
                <div class="midias-sociais">
                    <a href=""><img src="/img/facebook.svg" alt="facebook"></a>
                    <a href=""><img src="/img/instagram.svg" alt="Instagram"></a>
                    <a href=""><img src="/img/youtube.svg" alt="YouTube"></a>
                    <a href=""><img src="/img/twitter.svg" alt="Twitter"></a>
                    
                </div>
            </div>
        </div>        
    </footer>

</body>


</html>