<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="/css/homeStyle.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/footerStyle.css">
    <link rel="stylesheet" href="/css/promocaoStyle.css">
    
    
    <title>BRACKISH</title>
</head>


<body>

    <%- include('partials/header') %>

    <main>
        <div class="slider">
    
            <div class="slides">
                <!-- radio buttons     -->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
    
                <!-- slide imagens -->
                <div class="slide first">
                    <img class="img" src="/img/jeans-foto.png" alt="Imagem 1">
                </div>
                <div class="slide">
                    <img class="img"src="/img/banner.gif" alt="Imagem 2">
                </div>
                <div class="slide">
                    <img class="img" src="/img/banner3.png" alt="Imagem 3">
                </div>

                <!-- navigation auto -->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                </div>

            </div>
            <!-- navigation auto -->
            <!-- <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div> -->

            <div class="manual-navigation">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
    
        </div>
        


        <section class="flex">

            <!-- <a href="" class="item1"><img src="/img/jeans-foto.png" alt=""></a> -->
           
            <div class="item2">
                <a href="">Ver Ofertas</a>
                <a href="">Novas Ofertas</a>
                <a href="">Saiba Mais</a>
            </div>
            <a href="" class="item3"><img src="/img/imagem-roupa.jpg" alt=""></a>
            <div class="item31">
                <a href="">Conheça a Coleção</a>
                <a href="">Saiba Mais</a>
            </div>
            <div class="item4">
                <div class="item41"><img src="/img/primavera-branca.png" alt=""></div>
                <div class="item42"><a href=""><img src="/img/feminino-verao.png" alt=""></a></div>
                <div class="item43"><a href=""><img src="/img/masculino-verao.png" alt=""></a></div>
                <div class="item44"><img src="/img/vera-trans-branco-1.png" alt=""></div>
                <div class="item45"><a href="" class=><img src="/img/feminino-primavera-3.png" alt=""></a></div>
                <div class="item46">61111111</div>
                <div class="item47"><a href=""><img src="/img/masculino-primavera.png" alt=""></a></div>
                
            </div>
            <div class="item411">
                <a href="">Conheça a Coleção</a>
                <a href="">Saiba Mais</a>
            </div>
            <div class="spacer">
            <span>Leve 2 Pague 1 </span>

            </div>
            <div class=item5>
                <a href="" class="item51">
                    <div>
                        <img src="/img/promocao-2.gif" alt="">

                    </div>
                </a>
                <!-- <a href="" class="item52"><img src="/img/img12" alt=""></a> -->
            </div>
            <div class="spacer">
            <span>Promoções</span>

            </div>
            <div class="item6">
                

                    <a href="">
                        <div>
                            
                            <img src="/img/bottom-image-1.png" alt="">
                            <p>Moda Geek</p>
    
                        </div>
                        
                    </a>
                    <a href="">
                        <div>
                            <img src="/img/bottom-image-2.png" alt="">
                            <p>Moda Jeans</p>

                        </div>
                    </a>
                    <a href="">
                        <div>
                            <img src="/img/bottom-image-3.png" alt="">
                            <p>Favoritos</p>
                            
                        </div>
                    </a>
    
                    
               
             
            </div>





        </section>
        <!--Imagem de Promoções-->


    </main>
    
    <%- include('partials/footer') %>
    
    <script src="js/footer.js"></script>
    <script src="js/homeSlider.js"></script>
</body>


</html>