<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Inove Estilo</title>
</head>

<body>

    <header>

        <a href="/">
            <div id="logo">
                <img src="../public/img/logotemporario.png" alt="logo">
            </div>
        </a>

        <div class="pesquisar">
        </div><input type="text" name="" id="" placeholder="O que você procura?">
        <button>Buscar</button>
        </div>

        <a href="/carrinho">
            <div id="carrinho">
                <img src="../public/img/carrinho.png" alt="carrinho">
                <span>0</span>
            </div>
        </a>

    </header>

    <main>
        <nav>
            <a href="/feminino">Feminino</a>
            <a href="/masculino">Masculino</a>
            <a href="/infantil">Infantil</a>
            <a href="/lancamentos">Lançamentos</a>
        </nav>

        <div class="container">
            <article>
                <img src="/img/no-image.jpg" alt="" width="300" height="300">
                <h2>Camiseta Feminina</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>

            <article>
                <img src="/img/no-image.jpg" alt="" width="300" height="300">
                <h2>Calça</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>

            <article>
                <img src="/img/no-image.jpg" alt="" width="300" height="300">
                <h2>Shorts Esportivo Masculino</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>


            <article>
                <img src="/img/no-image.png" alt="" width="300" height="300">
                <h2>Cueca Box</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>


            <article>
                <img src="/img/no-image.png" alt="" width="300" height="300">
                <h2>Blusa Com Capuz</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>

            
        </div>
    </main>

    <!-- <footer> -->

        <!-- <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul> -->

            <!-- <input type="text" name="" id="" placeholder="O que você procura?">
            <button>Buscar</button>
            <a href="/carrinho"></a>
            <span>0</span>
    </header>
    <main>
        <h1>Aqui está o main</h1>

    </main> -->
    <footer >
        <div class="container-total">
            <div class ="row">
                <div class="container">
                    <div>
                        <h3>Receba novidades por email</h3>
                    </div>
                    <div>
                        <a class="noticias" href="">Seja o primeiro a saber sobre os nossos lançamentos!</a>
                    </div>
                    <div class="form-group">
                        <input type="email" class="email" placeholder="Digite seu email">
                        <button class="botao">Cadastrar</button>
                    </div>
                </div>   
                <div class="col-md">
                    <h4>Categorias</h4>
                    <ul class="table1">
                        <li><a href="">Women</a></li>
                        <li> <a href="">Men</a></li>
                        <li><a href="">Kids</a></li>
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Equipament</a></li>
                        <li><a href="">By activity</a></li>
                        <li><a href="">Gift Cards</a></li>
                        <li><a href="">Sale</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>Help</h4>
                    <ul class="table1">
                        <li><a href="">Help Center</a></li>
                        <li> <a href="">Order Status</a></li>
                        <li><a href="">Size Chart</a></li>
                        <li><a href="">Returns & Warranty</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>About</h4>
                    <ul class="table1">
                        <li><a href="">Sobre Nós</a></li>
                        <li> <a href="">Trabalhe com a gente</a></li>
                        <li><a href="">Technology & Innovation</a></li>
                        <li><a href="">Explore our stories</a></li>
                    </ul>
                </div>
                <div class="midias-sociais">
                    <a href=""><img src="" alt="facebook"></a>
                    <a href=""><img src="" alt="Instagram"></a>
                    <a href=""><img src="" alt="YouTube"></a>
                    <a href=""><img src="" alt="Twitter"></a>
                    
                </div>
            </div>
        </div>        
    </footer>
</body>

</html>