<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>ecommerce</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="img/logotemporario.png" alt="logo" width="35" height="35">
        </a>
            <a href="/feminino">Feminino</a>
            <a href="/masculino">Masculino</a>
            <a href="/infantil">Infantil</a>
            <a href="/lancamentos">Lançamentos</a>
            <input type="text" name="" id="" placeholder="O que você procura?">
            <button>Buscar</button>
            <a href="/carrinho"></a>
            <span>0</span>
    </header>
    <main>
        <h1>Aqui está o main</h1>

    </main>
    <footer >
        <div class="container-total">
            <div class ="row">
                <div class="container">
                    <div>
                        <h3>Receba novidades por email</h3>
                    </div>
                    <div>
                        <a class="noticias" href="">Seja o primeiro a saber sobre os nossos lançamentos!</a>
                    </div>
                    <div class="form-group">
                        <input type="email" class="email" placeholder="Digite seu email">
                        <button class="botao">Cadastrar</button>
                    </div>
                </div>   
                <div class="col-md">
                    <h4>Categorias</h4>
                    <ul class="table1">
                        <li><a href="">Women</a></li>
                        <li> <a href="">Men</a></li>
                        <li><a href="">Kids</a></li>
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Equipament</a></li>
                        <li><a href="">By activity</a></li>
                        <li><a href="">Gift Cards</a></li>
                        <li><a href="">Sale</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>Help</h4>
                    <ul class="table1">
                        <li><a href="">Help Center</a></li>
                        <li> <a href="">Order Status</a></li>
                        <li><a href="">Size Chart</a></li>
                        <li><a href="">Returns & Warranty</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>About</h4>
                    <ul class="table1">
                        <li><a href="">Sobre Nós</a></li>
                        <li> <a href="">Trabalhe com a gente</a></li>
                        <li><a href="">Technology & Innovation</a></li>
                        <li><a href="">Explore our stories</a></li>
                    </ul>
                </div>
                <div class="midias-sociais">
                    <a href=""><img src="" alt="facebook"></a>
                    <a href=""><img src="" alt="Instagram"></a>
                    <a href=""><img src="" alt="YouTube"></a>
                    <a href=""><img src="" alt="Twitter"></a>
                    
                </div>
            </div>
        </div>        
    </footer>
</body>
</html>
