<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Inove Estilo</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <img src="../public/img/logotemporario.png" alt="logo">
            </a>
            <a href="/feminino">Feminino</a>
            <a href="/masculino">Masculino</a>
            <a href="/infantil">Infantil</a>
            <a href="/lancamentos">Lançamentos</a>
            <section>
            <input type="text" name="" id="" placeholder="O que você procura?">
            <button>Buscar</button>
            </section>
            <a href="/carrinho">
                <img src="../public/img/carrinho.png" alt="carrinho" width="30" height="30">
                <span>0</span>
            </a>
        </nav>
        
    </header>

    <main>
       <div class="container">
            <aside>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
                <p>dasdasdas</p>
            </aside>
            <article>
                <img src="/public/img/camisa-feminina.jpg" alt="" width="300" height="300">
                <h2>Camiseta Feminina</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>


            <article>
                <img src="/public/img/camisa-feminina.jpg" alt="" width="300" height="300">
                <h2>Camiseta Feminina</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>
            <article>
                <img src="/public/img/camisa-feminina.jpg" alt="" width="300" height="300">
                <h2>Camiseta Feminina</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>
 
            <article>
                <img src="/public/img/calca.jpg" alt="" width="300" height="300">
                <h2>Calça</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>

            <article>
                <img src="/public/img/shorts.jpg" alt="" width="300" height="300">
                <h2>Shorts Esportivo Masculino</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>


            <article>
                <img src="/public/img/cueca.webp" alt="" width="300" height="300">
                <h2>Cueca Box</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>


            <article>
                <img src="/public/img/blusa.webp" alt="" width="300" height="300">
                <h2>Blusa Com Capuz</h2>
                <span>Preço</span>
                <button>Adicionar</button>
                <a href="">Ver mais</a>
            </article>
            
        </div>
    </main>
    <footer >
        <div class="container-total">
            <div class ="row">
                <div class="container-part">
                    <div>
                        <h3>Receba novidades por email</h3>
                    </div>
                    <div>
                        <a class="noticias" href="">Seja o primeiro a saber sobre os nossos lançamentos!</a>
                    </div>
                    <div class="form-group">
                        <input type="email" class="email" placeholder="Digite seu email">
                        <button class="botao">Cadastrar</button>
                    </div>
                </div>   
                <div class="col-md">
                    <h4>Categorias</h4>
                    <ul class="table1">
                        <li><a href="">Women</a></li>
                        <li> <a href="">Men</a></li>
                        <li><a href="">Kids</a></li>
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Equipament</a></li>
                        <li><a href="">By activity</a></li>
                        <li><a href="">Gift Cards</a></li>
                        <li><a href="">Sale</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>Help</h4>
                    <ul class="table1">
                        <li><a href="">Help Center</a></li>
                        <li> <a href="">Order Status</a></li>
                        <li><a href="">Size Chart</a></li>
                        <li><a href="">Returns & Warranty</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>About</h4>
                    <ul class="table1">
                        <li><a href="">Sobre Nós</a></li>
                        <li> <a href="">Trabalhe com a gente</a></li>
                        <li><a href="">Technology & Innovation</a></li>
                        <li><a href="">Explore our stories</a></li>
                    </ul>
                </div>
                <div class="midias-sociais">
                    <a href=""><img src="/public/img/facebook.svg" alt="facebook"></a>
                    <a href=""><img src="/public/img/instagram.svg" alt="Instagram"></a>
                    <a href=""><img src="/public/img/youtube.svg" alt="YouTube"></a>
                    <a href=""><img src="/public/img/twitter.svg" alt="Twitter"></a>
                    
                </div>
            </div>
        </div>        
    </footer>
</body>

</html>