<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <main>
        <div class="container">
             <aside>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
                 <p>dasdasdas</p>
             </aside>
             <article>
                 <img src="/public/img/camisa-feminina.jpg" alt="" width="300" height="300">
                 <h2>Camiseta Feminina</h2>
                 <span>Preço</span>
                 <button>Adicionar</button>
                 <a href="">Ver mais</a>
             </article>
 
 
             <article>
                 <img src="/public/img/camisa-feminina.jpg" alt="" width="300" height="300">
                 <h2>Camiseta Feminina</h2>
                 <span>Preço</span>
                 <button>Adicionar</button>
                 <a href="">Ver mais</a>
             </article>
             <article>
                 <img src="/public/img/camisa-feminina.jpg" alt="" width="300" height="300">
                 <h2>Camiseta Feminina</h2>
                 <span>Preço</span>
                 <button>Adicionar</button>
                 <a href="">Ver mais</a>
             </article>
  
             <article>
                 <img src="/public/img/calca.jpg" alt="" width="300" height="300">
                 <h2>Calça</h2>
                 <span>Preço</span>
                 <button>Adicionar</button>
                 <a href="">Ver mais</a>
             </article>
 
             <article>
                 <img src="/public/img/shorts.jpg" alt="" width="300" height="300">
                 <h2>Shorts Esportivo Masculino</h2>
                 <span>Preço</span>
                 <button>Adicionar</button>
                 <a href="">Ver mais</a>
             </article>
 
 
             <article>
                 <img src="/public/img/cueca.webp" alt="" width="300" height="300">
                 <h2>Cueca Box</h2>
                 <span>Preço</span>
                 <button>Adicionar</button>
                 <a href="">Ver mais</a>
             </article>
 
 
             <article>
                 <img src="/public/img/blusa.webp" alt="" width="300" height="300">
                 <h2>Blusa Com Capuz</h2>
                 <span>Preço</span>
                 <button>Adicionar</button>
                 <a href="">Ver mais</a>
             </article>
             
         </div>
     </main>
</body>
</html>