<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/footerStyle.css">
    <link rel="stylesheet" href="/css/produtoStyle.css">
    <script src="js/footer.js"></script>
    <title>BRACKISH</title>
</head>

<body>
    <%- include('partials/header') %>
    
    <main>
            <div class="container-main">
                <div class="img-prod">
                    <img src="img/jaqueta-fem-1.png" alt="jaqueta1">
                    <img src="img/jaqueta-fem-2.png" alt="jaqueta2">
                    <img src="img/jaqueta-fem-3.png" alt="jaqueta3">
                    <img src="img/jaqueta-fem-4.png" alt="jaqueta4">
                </div>
                <div class="container-main-2">
                    <div class="name-prod">
                        <h3>Jaqueta Jeans Myft Bomber Feminino - Azul</h3>
                        <span>R$99</span>
                    </div>
                    <div class="box-description">
                        <div class="description">
                            <p>
                                Jaqueta Jeans Myft Bomber Azul Feminino. As Jaquetas Myft so peas confortveis, versteis e indispensveis no guarda roupa feminino.
                                <br>
                                Composição: 100% algodão 
                            </p>
                            
                        </div>
                    </div>
                    <div class="box-cores">
                        <h5>Cor</h5>
                        <div class="cores">
                            <div class="cor1"></div>
                            <div class="cor2"></div>
                        </div>
                    </div>
                    <div class="box-tamanhos">
                        <h5>Tamanho</h5>
                        <div class="tamanhos">
                            <div class="tam1">PP</div>
                            <div class="tam1">P</div>
                            <div class="tam1">M</div>
                            <div class="tam1">G</div>
                            <div class="tam1">GG</div>
                            <div class="tam1">XG</div>
                        </div>
                    </div>

                    <div class="select-prod">
                        <button class="comprar"> Adicionar ao carinho </button>
                            <div>
                                <button class="remove" type="button"> - </button>
                                <input class ="qtd-camisa"  step="1" min="0" max="100" value="1">
                                <button class="add" type="button"> + </button>
               
                            </div>
                        
                    </div>
    
                </div>
            </div>
    </main>
    <%- include('partials/footer') %>

</body>
</html>