<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/produto.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <img src="../public/img/logotemporario.png" alt="logo">
            </a>
            <a href="/feminino">Feminino</a>
            <a href="/masculino">Masculino</a>
            <a href="/infantil">Infantil</a>
            <a href="/lancamentos">Lançamentos</a>
            <section>
            <input type="text" name="" id="" placeholder="O que você procura?">
            <button>Buscar</button>
            </section>
            <a href="/carrinho">
                <img src="../public/img/carrinho.png" alt="carrinho" width="30" height="30">
                <span>0</span>
            </a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="img-prod"><img src="public/img/jacket.png" alt=""></div>
            <div>
                <div class="name-prod">
                <h1>Men's winter jacket</h1>
                <span>$99</span>
                </div>
                <div class="box-description">
                    <div class="description">
                        <p>
                            Revamp your style with the latest designer trends in 
                            men’s clothing or achieve a perfectly curated wardrobe 
                            thanks to our line-up of timeless pieces.
                        </p>
                    </div>
                </div>
                <div class="select-prod">
                    <button class="remove" type="button"> - </button>
                    <input class ="qtd-camisa" type="number" step="1" min="0" max="100" value="1">
                    <button class="add" type="button"> + </button>
                </div>
                <div>
                    <button class="comprar"> Comprar </button>
                </div>
            </div>
        </div>
    </main>

</body>
</html>