<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/headerStyle.css">
    <link rel="stylesheet" href="../public/css/mainStyle.css">
    <link rel="stylesheet" href="../public/css/geral.css">
    <link rel="stylesheet" href="../public/css/footerStyle.css">
    <link rel="stylesheet" href="../public/css/produtoStyle.css">
    <title>BRACKISH</title>
</head>

<body>
    <header>
        <div class="containerHeader" id="containerHeader">
            BRACKISH
            <!-- <a href="" id="logo">
                <img src="../public/img/logotemporario.png" alt="logo"> -->
            <!-- </a> -->

                <a href="/feminino">Ajuda</a>
                <a href="/feminino">Cadastro</a>
                <a href="/feminino">Login</a>

        </div>



        <div class="menu">
            <a href="" id="logo2">
                <img src="../public/img/casual-t-shirt-.png" alt="logo2">
            </a>
            <nav>
                <a href="/feminino">Feminino</a>
                <a href="/masculino">Masculino</a>
                <a href="/infantil">Infantil</a>
                <a href="/lancamentos">Lançamentos</a>
                <a href="/lancamentos">Lançamentos</a>
                <a href="/lancamentos">Lançamentos</a>
                <a href="/lancamentos">Lançamentos</a>
            </nav>

            <div class="pesquisar" id="pesquisar">
                <input type="text" placeholder="Buscar">
                <button type="submit">Buscar</button>
            </div>
            <a href="/carrinho" id="carrinho">
                <img src="../public/img/carrinho.png" alt="carrinho">
                <span>0</span>
            </a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="img-prod"><img src="public/img/jacket.png" alt=""></div>
            <div>
                <div class="name-prod">
                <h1>Men's winter jacket</h1>
                <span>$99</span>
                </div>
                <div class="box-description">
                    <div class="description">
                        <p>
                            Revamp your style with the latest designer trends in 
                            men’s clothing or achieve a perfectly curated wardrobe 
                            thanks to our line-up of timeless pieces.
                        </p>
                    </div>
                </div>
                <div class="select-prod">
                    <button class="remove" type="button"> - </button>
                    <input class ="qtd-camisa" type="number" step="1" min="0" max="100" value="1">
                    <button class="add" type="button"> + </button>
                </div>
                <div>
                    <button class="comprar"> Comprar </button>
                </div>
            </div>
        </div>
    </main>

</body>
</html>