<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="/css/resultado_busca.css">
    <link rel="stylesheet" href="/css/footerStyle.css">
    <title>BRACKISH</title>

</head>

<body>

    <header>
        <div class="containerHeader" id="containerHeader">
            <a href="">BRACKISH</a>
            <nav>
                <a href="/feminino">Ajuda</a>
                |
                <a href="/feminino">Cadastro</a>
                |
                <a href="/feminino">Login</a>
            </nav>

        </div>

        <div class="menu">
            <a href="" id="logo2">
                <img src="img/earth.png" alt="logo2">
            </a>
            <nav>
                <a href="/feminino">Feminino</a>
                <a href="/masculino">Masculino</a>
                <a href="/infantil">Infantil</a>
                <a href="/lancamentos">Lançamentos</a>
                <a href="/lancamentos">Black Friday</a>
                <a href="/lancamentos">Mais Vendidos</a>
                <a href="/lancamentos">Promoções</a>
            </nav>

            <div class="pesquisar" id="pesquisar">
                <input type="text" placeholder="Buscar">
                <button type="submit">
                    <a href="/resultado_busca.html">
                    <img src="/img/loupe.png" alt="">
                    </a>
                </button>
            </div>
            <a href="/carrinho" id="carrinho">
                <img src="img/carrinho.png" alt="carrinho">
                <span>0</span>
            </a>
        </div>
    </header>

    <main>
        <section class="categoria-list">
            <h3 class="categoria-titulo">Categorias</h3>

            <ul>
                <a href="#" class="categoria-link"><li>Mulher</li></a>
                <a href="#" class="categoria-link"><li>Homem</li></a>
                <a href="#" class="categoria-link"><li>Infantil</li></a>
                <a href="#" class="categoria-link"><li>Sapatos</li></a>
                <a href="#" class="categoria-link"><li>Acessórios</li></a>
                <a href="#" class="categoria-link"><li>Presentes</li></a>
                <a href="#" class="categoria-link"><li>Promoções</li></a>
            </ul>

        </section>

        <section>
            <div class="products-container">
                
                <article class="produto-detalhado">
                    <img src="/img/bermuda-agua-osklen.png" alt="bermuda-agua-osklen"  class="img-produto-detalhado"><br>
                    <h4>Bermuda Agua Osklen</h4>
                    <span>R$79,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
                
                <article class="produto-detalhado">
                    <img src="/img/bermuda-sarja-gap.png" alt="bermuda-sarja-gap" class="img-produto-detalhado"><br>
                    <h4>Bermuda Sarja GAP</h4>
                    <span>R$249,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
                
                <article class="produto-detalhado">
                    <img src="/img/blazer-masculino.png" alt="blazer-masculino" class="img-produto-detalhado"><br>
                    <h4>Blazer Masculino</h4>
                    <span>R$229,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
                
                <article class="produto-detalhado">
                    <img src="/img/blusa-moletom-flanelada.png" alt="blusa-moletom-flanelada" class="img-produto-detalhado"><br>
                    <h4>Blusa Moletom Flanelada</h4>
                    <span>R$159,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
            
                <article class="produto-detalhado">
                    <img src="/img/calca-jeans-john-john.png" alt="calca-jeans-john-john" class="img-produto-detalhado"><br>
                    <h4>Calça Jeans John John</h4>
                    <span>R$184,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                 </article>
            
                <article class="produto-detalhado">
                    <img src="/img/calca-moletom-adidas.png" alt="calca-moletom-adidas" class="img-produto-detalhado"><br>
                    <h4>Calça Moletom Adidas</h4>
                    <span>R$309,99</span>                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>        
                </article>
            
                <article class="produto-detalhado">
                    <img src="/img/calca-sarja-colcci-jogger.png" alt="calca-sarja-colcci-jogger" class="img-produto-detalhado"><br>
                    <h4>Calça Sarja Colcci</h4>
                    <span>R$184,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
            
                <article class="produto-detalhado">
                    <img src="/img/camisa-calvin-klein.png" alt="camisa-calvin-klein" class="img-produto-detalhado"><br>
                    <h4>Camisa Calvin Klein</h4>
                    <span>R249,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>

                <article class="produto-detalhado">
                    <img src="/img/camisa-polo-ralph.png" alt="camisa-polo-ralph" class="img-produto-detalhado"><br>
                    <h4>Camisa Polo Ralph</h4>
                    <span>R$690,90</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
                
                <article class="produto-detalhado">
                    <img src="/img/jaqueta-bomber-adidas.png" alt="jaqueta-bomber-adidas" class="img-produto-detalhado"><br>
                    <h4>Jaqueta Bomber Adidas</h4>
                    <span>R$259,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
                
                <article class="produto-detalhado">
                    <img src="/img/jaqueta-corta-vento.png" alt="jaqueta-corta-vento" class="img-produto-detalhado"><br>
                    <h4>Jaqueta Corta Vento</h4>
                    <span>R$335,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
                
                <article class="produto-detalhado">
                    <img src="/img/jaqueta-polo-ralph.png" alt="jaqueta-polo-ralph" class="img-produto-detalhado"><br>
                    <h4>Jaqueta Polo Ralph</h4>
                    <span>R$287,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
            
                <article class="produto-detalhado">
                    <img src="/img/moletom-john-john.png" alt="moletom-john-john" class="img-produto-detalhado"><br>
                    <h4>Moletom John John</h4>
                    <span>R$159,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                 </article>
            
                <article class="produto-detalhado">
                    <img src="/img/regata-colcci-logo-azul.png" alt="regata-colcci-logo-azul" class="img-produto-detalhado"><br>
                    <h4>Regata Colcci</h4>
                    <span>R$89,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>        
                </article>
            
                <article class="produto-detalhado">
                    <img src="/img/regata-mizuno-spark.png" alt="regata-mizuno-spark" class="img-produto-detalhado"><br>
                    <h4>Regata Mizuno</h4>
                    <span>R$64,99</span>
                    <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                    <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                </article>
            
                    <!-- <article class="produto-detalhado">
                        <img src="/img/short-praia-premiun.png" alt="short-praia-premiun" class="img-produto-detalhado"><br>
                        <h4>Short Praia Premium</h4>
                        <span>R$69,99</span>
                        <a href="#" alt="calca-masculina" class="link-mais-detalhes">Ver mais detalhes</a>
                        <button class="bt-mais-detalhes">Adicionar ao carrinho</button>
                    </article> -->
            
            </div>    
        </section>
        
    </main>
    
    <footer >
        <div class="container-total">
            <div class ="row">
                <div class="container-part">
                    <div>
                        <h3>Receba novidades por email</h3>
                    </div>
                    <div>
                        <a class="noticias" href="">Seja o primeiro a saber sobre os nossos lançamentos!</a>

                    </div>
                    <div class="form-group">
                        <input type="email" class="email" placeholder="Digite seu email">
                        <button class="botao">Cadastrar</button>
                    </div>
                </div>   
                <div class="col-md">
                    <h4>Categorias</h4>
                    <ul class="table1">
                        <li><a href="">Women</a></li>
                        <li> <a href="">Men</a></li>
                        <li><a href="">Kids</a></li>
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Equipament</a></li>
                        <li><a href="">By activity</a></li>
                        <li><a href="">Gift Cards</a></li>
                        <li><a href="">Sale</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>Help</h4>
                    <ul class="table1">
                        <li><a href="">Help Center</a></li>
                        <li> <a href="">Order Status</a></li>
                        <li><a href="">Size Chart</a></li>
                        <li><a href="">Returns & Warranty</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h4>About</h4>
                    <ul class="table1">
                        <li><a href="">Sobre Nós</a></li>
                        <li> <a href="">Trabalhe com a gente</a></li>
                        <li><a href="">Technology & Innovation</a></li>
                        <li><a href="">Explore our stories</a></li>
                    </ul>
                </div>
                <div class="midias-sociais">
                    <a href=""><img src="/img/facebook.svg" alt="facebook"></a>
                    <a href=""><img src="/img/instagram.svg" alt="Instagram"></a>
                    <a href=""><img src="/img/youtube.svg" alt="YouTube"></a>
                    <a href=""><img src="/img/twitter.svg" alt="Twitter"></a>
                    
                </div>
            </div>
        </div>        
    </footer>
</body>
</html>