*{
    margin: 0;
    padding: 20px;
    font-family: 'Public Sans', sans-serif;
}
#carrinho{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.compras{
    padding-right: 20px;
}
.cx1{
    display: inline-block;
}
.sub{
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 70%;
}
.sub h5{
    padding-right: 50px;
    border-bottom: 1px solid grey;
}
.sub .produtos{
    padding-right: 250px;
    border-bottom: 1px solid grey;
}
.cx2{
    background-color: #F7F8FA;
    text-align: left;
}
.finalizar{
    text-align: center;
}
button{
    background-color: black;
    color: white;
    width: 100%;
    align-items: flex-end;
    margin-top: 10px;
    font-size: 17px;
}

.total{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-bottom: 80%;
}
a{
    padding: 20px;
}
a.cupom{
    text-decoration: none;
    font-size: 12px;
}
