@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragrafoParaLogin {
    color: #222;
    margin-bottom: 10px;
}

#paginaLogin {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 80px;
    /* padding-left: 100px; */
    font-size: 15px;
    gap: 130px;
}

.login{
    box-sizing: border-box;
    max-width: 450px;
    max-height: 400px;
    background-color: rgb(240, 240, 240);
    padding: 50px;
    /* margin: 100px; */
    /* border: 1.5px solid #999 */
}

.cadastro {
    box-sizing: border-box;
    max-width: 450px;
    max-height: 450px;
    background-color: rgb(240, 240, 240);
    padding: 50px;
    /* margin: 100px; */
    /* border: 1.5px solid #999 */
}

article h1{
    text-transform:uppercase; 
}

.estiloBotao {
    color: grey;
    width: 300px;
    height: 25px;
    margin: 5px;
    padding: 5px;
    border: 2px solid grey;
    cursor: pointer;
}

.btEnviar{
    background-color: black;
    font-size: 15px;
    color: azure;
    margin: 35px;
    padding: 10px;
    width: 260px;
    cursor: pointer;
}

.login a{
    margin-left: 40px;
}

