@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Public Sans', sans-serif;
    
}

.paragrafoParaLogin {
    color: #EFF2F6;;
}

#paginaLogin {
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

.login{
    box-sizing: border-box;
    max-width: 450px;
    max-height: 480px;
    background-color: white;
    padding: 50px;
    margin: 100px;
}

.cadastro {
    box-sizing: border-box;
    max-width: 450px;
    max-height: 450px;
    background-color: white;
    padding: 50px;
    margin: 100px;
}

.estiloBotao {
    color: grey;
    width: 300px;
    height: 25px;
    margin: 5px;
    padding: 5px;
    border: 2px solid grey;
}

.btEnviar{
    background-color: black;
    font-size: 15px;
    color: azure;
    margin: 5px;
    padding: 10px;
    width: 260px;
}
