html {
    /*border: 2px solid green;*/
    height: 120%;
    box-sizing: border-box;

}

body {
    font-family: 'Public Sans', 'sans-serif';
}

main {
    display: flex;
    height: 120%;
    justify-content: center;
    background-color:rgb(250, 250, 250);
}

.pagamentoSeguro {
    height: 3rem;   
    display: flex;
    background-color: rgb(250, 250, 250);
    border-bottom: ridge;
}

.logo_check {
    display: flex;
    align-items: center;
    margin-left: 20%;
    font-size: 1.7rem;
    /*border: 2px solid yellow;*/
}

.barra {
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    font-size: 2.0rem;
    /*border: 2px solid green;*/
}

.pagamentoSeguro > img {
    margin-top: 0.8rem;
    height: 1.3rem;
    margin-left: 0.5rem;
}

.letras_checkoutSeguro {
    /*border: 2px solid red;*/
    display: flex;
    margin-top: 1rem;
    font-size: 15px;
    color: #83b293;
    margin-left: 0.4rem;
}

 .container {
    /*border: 2px solid red;*/
    height: 960px;
    width: 1500px;
    margin-top: 5rem;
}

.container1 {
    justify-content: center;
    /*border: 2px solid black;*/
    height: 40px;
    width: 1150px;
    font-size: 1.3rem;
}

.stepbar {
    width: 100%;
    height: 0.28rem;
    background: #222;
    border-radius: 100rem;
    margin-top: 0.2rem;
}

.stepbar-res {
    width: 100%;
    height: 0.3rem;
    background: rgb(187, 187, 187);
    border-radius: 100rem;
    margin-top: 0.2rem;
}

.ol {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0,1fr);
    grid-gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container2 {
    /*border: 2px solid aqua;*/
    height: 800px;
    width: 1150px;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.span-form {
    font-size: 1.4rem;
    height: 10px;
}

.container3 {
    margin-top: 1.5rem;
    display: flex;
    /*border: 2px solid purple;*/
    height: 80px;
    width: 1150px;
}

.paypal {
    display: flex;
    border: 2px solid black;
    border: groove;
    border-radius: 5px;
    width: 35rem;
    justify-content: center;
    align-items: center;
}

.boleto {
    display: flex;
    border:solid black;
    border: groove;
    border-radius: 5px;
    width: 35rem;
    margin-left: 1.3rem;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    border: 2px solid black;
    border: groove;
    border-radius: 5px;
    width: 35rem;
    margin-left: 1.3rem;
    justify-content: center;
    align-items: center;
}

.paypal > img {
    display: flex;
    height: 3rem;
}

.boleto > img {
    display: flex;
    height: 2.5rem;
}

.card > img {
    display: flex;
    height: 2.5rem;
    margin-right: 1rem;
}

