.pagamentoSeguro {
    height: 3rem;   
    display: flex;
    background-color: rgb(250, 250, 250);
    border-bottom: ridge;
    border-top: ridge;
    margin-top: 8rem;
}

.logo_check {
    display: flex;
    align-items: center;
    margin-left: 20%;
    font-size: 1.7rem;
    /*border: 2px solid yellow;*/
}

.barra {
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    font-size: 2.0rem;
    /*border: 2px solid green;*/
}

.pagamentoSeguro > img {
    margin-top: 0.8rem;
    height: 1.3rem;
    margin-left: 0.5rem;
}

.letras_checkoutSeguro {
    /*border: 2px solid red;*/
    display: flex;
    margin-top: 1rem;
    font-size: 15px;
    color: #83b293;
    margin-left: 0.4rem;
}

#mainEnd {
    /*border: 2px solid red;*/
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.mainDiv {
    /*border: 2px solid black;*/
    display: flex;
    width: 90rem;
    height: 55rem;
    margin-left: 10rem;
    flex-wrap: wrap;
}

#mainResume {
    display: flex;
    /*border: 2px solid aqua;*/
    width: 65rem;
    height: 3rem;
}

.stepbar {
    width: 100%;
    height: 0.28rem;
    background: #222;
    border-radius: 100rem;
    margin-top: 0.7rem;
}

.stepbar-pag {
    width: 100%;
    height: 0.3rem;
    background: #222;
    border-radius: 100rem;
    margin-top: 0.7rem;
}

.stepbar-res {
    width: 100%;
    height: 0.3rem;
    background: rgb(187, 187, 187);
    border-radius: 100rem;
    margin-top: 0.7rem;
}

.ol {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0,1fr);
    grid-gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


.divSize {
    display: flex;
    /*border: 2px solid red;*/
    width: 65rem;
    height: 65rem;
    align-items: flex-end;
}

.divInterna {
    /*border: 2px solid green;*/
    height: 99%;
    width: 70%;
}

.editFormPag {
    font-size: 17px;
}

.divFormPag {
    display: flex;
    /*border: 2px solid red;*/
    height: 80px;
    margin-top: 20px;
    justify-content: space-between;
}

.labelPaypal {
    display: flex;
    width: 230px;
    height: 100%;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.divFormPag img {
    height: 3rem;
    
}

.labelBoleto {
    display: flex;
    width: 230px;
    height: 100%;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.labelCartao {
    display: flex;
    width: 230px;
    height: 100%;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.labelCartao img {
    margin-right: 10px;
}

.formParcelas {
    margin-top: 1.8rem;
    display: flex;
}

.formParcelas select {
    margin-top: 10px;
    width: 400px;
    color: black;
    padding-left: 10px;
    font-size: 15px;
    height: 50px;
}

.information {
    display: flex;
    margin-top: 10px; 
}

.informCartao {
    display: flex;
    width: 50%;
    border: 2px solid red;
}

.input-nome {
    display: flex;
    margin-top: 5px;
    width: 60%;
    height: 30px;
    margin-bottom: 30px;
}

.inputNumeroCartao {
    display: flex;
    position: absolute;
    width: 400px;
    height: 30px;
    margin-top: 5px;
}

.inputDataValidade {
    display: flex;
    height: 30px;
    margin-left: 440px;
    margin-top: 5px;
    border: 1px solid groove;
    text-align: center;
    margin-bottom: 30px;
}

.cvm {
    display: flex;
    margin-top: 5px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #e6e6e6;
    text-align: center;
}

.checkboxSalvarDados {
    margin-top: 12px;
    margin-left: 2px;
}

