<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head', {css: ['geral.css', 'headerStyle.css', 'enderecoStyle.css', 'footerStyle.css']}) %>

<body>
    <%- include('../partials/header') %>

    <div class="pagamentoSeguro">
        <span class="logo_check">BRACKISH</span>
        <span class="barra">/</span>
        <img src="/img/cadeado3.png" alt="">
        <span class="letras_checkoutSeguro">CHECKOUT SEGURO</span>

    </div>

    <main id="mainEnd">
        <div class="mainDiv">
            <div id="mainResume">
                <ol class="ol">
                    <li>
                        <span><strong>1 Entrega</strong></span>
                        <div class="stepbar"></div>
                    </li>
        
                    <li>
                        <span>2 Pagamento</span>
                        <div class="stepbar-pag"></div>
                    </li>
        
                    <li>
                        <span>3 resumo</span>
                        <div class="stepbar-res"></div>
                    </li>
                </ol>
            </div>

         <div class="divSize">
            <div class="divInterna">
                <div id="editEndP">
                    <p class="editEnd"><strong>Editar endereço de entrega</strong></p>
                    <p class="camposObg">* Campos obrigatórios</p>
                </div>

                <div class="inputName">
                    <div class="divSizeName">
                        <label for="name">Nome * <br>
                            <input type="text" name="name">
                        </label>
                    </div>

                    <div class="divSizeSobr">
                        <label for="sobrenome">Sobrenome * <br>
                            <input type="text" name="sobrenome">
                        </label>
                    </div>                  
                </div>

                <div class="paisRegiao">
                    <p>País/região *</p>
                    <img class="imgBr" src="/img/Lovepik_com-450008548-3D Realistic Pennant With Flag Brazil.png" alt="">
                    <span class="spanPR">Brasil (BRLR$)</span>
                </div>

                <div class="cpf">
                    <p>Número do CPF *</p>
                    <label for="CPF">
                        <input type="text" name="CPF">
                    </label>
                </div>

                <div class="cepEvalidacao">
                    <div class="cep">
                        <label for="CEP"> CEP *
                            <input type="text" name="CEP" id="">
                        </label>
                    </div>

                    <div class="validacao">
                        <label for="validacao"> Validação * </label> 
                            <button class="btValidacao"><strong>Endereço encontrado</strong></button>
                    </div>
                </div>

                <div class="endereco">
                    <p>Endereço *</p>
                    <label for="endereco">
                        <input type="text" name="endereco">
                    </label>
                </div>

                <div class="numeroEcomplemento">
                     <div class="numeroEnd">
                        <label for="numero"> Numero *
                            <input type="number" name="number">
                        </label>
                     </div>

                     <div class="complementoEnd">
                        <label for="complemento"> Complemento *
                            <input type="number" name="number">
                        </label>
                     </div>
                    
                </div>

                <div class="bairro">
                    <p>Bairro *</p>
                    <label for="bairro"> 
                        <input type="text" name="bairro">
                    </label>
                 </div>

                 <div class="estadoEcidade">
                    <div class="estado">
                        <label for="estado"> Estado *
                            <input type="text" name="estado">
                        </label>
                    </div>

                    <div class="cidade">
                        <label for="cidade"> Cidade *
                            <input type="text" name="cidade">
                        </label>
                    </div>
                 </div>

                 <div class="dddEtelefone">
                    <div class="ddd">
                        <label for="ddd"> DDD *
                            <input type="number" name="ddd">
                        </label>
                    </div>

                    <div class="numeroTelefone">
                        <label for="telefone"> Telefone *
                            <input type="number" name="telefone">
                        </label>
                    </div>
                 </div>


            </div>
         </div>
   

        </div>
        
    </main>

    <%- include('../partials/footer') %>

</body>

</html>