<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {css: ['login.css', 'footerStyle.css', 'headerStyle.css']}) %>

    <title>BRACKISH</title>
</head>
<body>

    <%- include('../partials/header') %>

    <main>
        <section id="paginaLogin">
            <form class="formLogin" id="formLogin" method="POST" action="/login">
                <article class="login">
                        <h1 class="tituloLogin">login</h1>
                    <br>
                        <p class="paragrafoParaLogin">Login com seu e-mail</p>
                        <div class="form-control">
                            <label for="email"></label>
                            <input class="estiloBotao" type="email" name="email" id="email" placeholder="Digite seu e-mail">
                            <i><img class="img-success" src="/img/icon-sucesso-form.svg" alt=""></i>
                            <i><img class="img-error" src="/img/icon-fail-form.svg" alt=""></i>
                            <small>Error Message</small>
                        </div>
                    <!-- <br> -->
                        <div class="form-control">
                            <label for="senha"></label>
                            <input class="estiloBotao" type="password" name="senha" id="senha" placeholder="Senha">
                            <i><img class="img-success" src="/img/icon-sucesso-form.svg" alt=""></i>
                            <i><img class="img-error" src="/img/icon-fail-form.svg" alt=""></i>
                            <small>Error Message</small>
                        </div>
                    <!-- <br> -->
                        <div class="div-button">
                            <input type="checkbox" name="lembrar" id="lembrar">
                            <label for="lembrar">Lembrar de mim</label>
                            <a href="redefiniçãoDeSenha">Esqueceu a senha?</a>
                    <!-- <br> -->
                            <button type="submit" class="btEnviar" name="enviar" id="envairLogin">ENVIAR</button> 
                        </div>
                           
                </article>
            </form>
            <form class="formCadastro" id="formCadastro" method="POST" action="/cadastro">
                <article class="cadastro">
                        <h1 class="tituloCadastro">cadastre-se</Cadastre-se></h1>
                    <br>
                        <p class="paragrafoParaLogin">Cadastre-se com seu e-mail e senha</p>
                        <div class="form-control">
                            <label for="nomeCadastro"></label>
                            <input class="estiloBotao" type="text" name="nome" id="nome" placeholder="Nome Completo">
                            <i><img class="img-success" src="/img/icon-sucesso-form.svg" alt=""></i>
                            <i><img class="img-error" src="/img/icon-fail-form.svg" alt=""></i>
                            <small>Error Message</small>
                        </div>
                    <!-- <br> -->
                        <div class="form-control">
                            <label for="emailCadastro"></label>
                            <input class="estiloBotao" type="email" name="email" id="email" placeholder="Seu e-mail">
                            <i><img class="img-success" src="/img/icon-sucesso-form.svg" alt=""></i>
                            <i><img class="img-error" src="/img/icon-fail-form.svg" alt=""></i>
                            <small>Error Message</small>
                        </div>    
                    <!-- <br> -->
                        <div class="form-control">
                            <label for="senhaCadastro"></label>
                            <input class="estiloBotao" type="password" name="senha" id="senha" placeholder="Digita sua senha">
                            <i><img class="img-success" src="/img/icon-sucesso-form.svg" alt=""></i>
                            <i><img class="img-error" src="/img/icon-fail-form.svg" alt=""></i>
                            <small>Error Message</small>
                        </div>
                    <!-- <br> -->
                        <div class="form-control">
                            <label for="confirmeSenha"></label>
                            <input class="estiloBotao" type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Confirme sua senha">
                            <i><img class="img-success" src="/img/icon-sucesso-form.svg" alt=""></i>
                            <i><img class="img-error" src="/img/icon-fail-form.svg" alt=""></i>
                            <small>Error Message</small>
                        </div>
                    <!-- <br> -->
                            <button class="btEnviar" type="submit" name="enviar" id="envairCadastro">ENVIAR</button> 
                </article>
            </form>
        </section>
    </main>
    
    <%- include('../partials/footer') %>

<script src="/js/checkFormLoginRegister.js"></script>
</body>
</html>