<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head') %>
    
    <body>
        
        <%- include('partials/header') %>

            <main>

                <div class="sacola">
                    <span>SACOLA</span>
                </div>

                <!--SECTION de itens-->
                <section class="sectionPrincipal">


                    <!--iMAGEM-->
                    <div class="imagem">
                        <img src="/img/jaqueta-fem-1.png" alt="">
                    </div>


                    <!--DESCRIÇÃO DO ITEM-->
                    <div class="descricao">
                        <h2>Prada</h2>
                        <span>Jaqueta Jeans feminina</span>
                        <span>ID BRACKISH:</span>
                        <span>22322132</span>

                    </div>


                    <!--VALOR-->
                    <div class="valor">
                        <span>R$ 35.00</span>
                    </div>


                    <!--TAMANHO E QUANTIDADE-->
                    <div class="TamanhoEquantidade">

                    </div>


                </section>
                





            </main>

        <%- include('partials/footer') %>
        <script src="js/footer.js"></script>

    </body>


</html>