<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head', {css: ['headerStyle.css', 'carrinho.css', 'geral.css', 'footerStyle.css']}) %>
    
    <body>
        
        <%- include('partials/header') %>

            <main>

                <div class="sacola">
                    <span>CONFIRA SEU CARRINHO</span>
                </div>


                <!-- SESSÃO DE SPANS-->
                <section class="sectionSpan">


                    <!--Spans-->
                    <span class="spanProdutos">Produtos</span>
                    <span class="spanQuantidade">Quantidade</span>
                    <span class="spanValorUnitario">Valor Unitário</span>
                    <span class="spanValorTotal">Valor Total</span>

                </section>


                <!-- SESSÃO DE INFORMAÇÕES SOBRE O PRODUTO-->
                <section class="sectionDados">

                    <div class="ImagemEdescricao">
                        <img src="/img/blusa.webp" alt="imagem1">
                    </div>

                </section>

                
            </main>

        <%- include('partials/footer') %>
        <script src="js/footer.js"></script>

    </body>


</html>