<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {css: ['geral.css', 'finalizacaoCompras.css', 'footerStyle.css', 'headerStyle.css']}) %>

<body>

    <%- include('partials/header') %>
    
    <main>

        <section class="primeira-section">
            <h1 class="titulo-compra">COMPRA REALIZADA COM SUCESSO!</h1>
            <p>Nossas peças foram criadas especialmente para aqueles que desejam transportar sua singularidade, mas com muito estilo.</p> 
        </section>

        <section class="segunda-section">   
            <h3 class="titulo-h3">Seu pedido já está em separação e te enviaremos o quanto antes.</h3>
            <p>Para acompanhar seu pedido, clique no botão abaixo:</p>
            <img src="/img/sacolas-de-compras.png" alt="icone-sacola" class="sacola-de-compra">
            <p><a href="/carrinho" class="link-pedido">Acompanhar pedido</a></p>
        </section>

        <section class="terceira-section">
            <h3 class="titulo-h3">Faltou alguma coisa?</h3>
            <button class="btInicio" id="animate__pulse"><a href="/inicio" class="link-inicio">Voltar ao início</a></button>
        </section>
    
    </main>

    <%- include('partials/footer') %>
    
</body>
</html>