<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/gridstyle.css">
    <title>Document</title>
</head>

<body>
    <!-- <div class="container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6 </div>
    </div> -->



    <!-- <div class="container" id="template-areas">
        <div id="header">
            <p>Cabeçalho</p>
        </div>
        <div id="sidebar">
            <p>Sidebar</p>
        </div>
        <div id="content">
            <p>Content</p>
        </div>
        <div id="footer">
            <p>Rodapé</p>
        </div>
    </div> -->



    <!-- <div class="container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
    </div> -->

    <div class="container">
        <div id="item-1">1</div>
        <div id="item-2">2</div>
        <div id="item-3">3</div>
        <div id="item-4">4</div>
        <div id="item-5">5</div>
        <div id="item-6">6</div>
    </div>
     
</body>

</html>