<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {css: ['geral.css', 'login-adm.css', 'footerStyle.css', 'headerStyle.css']}) %>

<body>
    <%- include('partials/header') %>
    
    <main class="login-adm">
        <form method="POST" action="">
            <div class="parte-um-login-adm">
               <h1 class="titulo-login-adm">ADMINISTRADOR</h1>
               <br>
               <p class="subtitulo-login-adm">Login Adiminstrador</p>

                <label for="email-adm">
                <input class="estilo-input-adm-login" type="email" name="email-adm" id="email-adm" placeholder="E-mail administrador" required value="email@adm.com">
                </label>
                <br>
                <label for="senha-adm">
                <input class="estilo-input-adm-login" type="password" name="senha-adm" id="senha-adm" placeholder="Senha" required>
                </label>
                <br>
                <label for="lembrar-adm">
                <input class="input-checkbox-login-adm" type="checkbox" name="lembrar-adm" id="lembrar-adm">
                Lembrar de mim</label>
                <a href="redefiniçãoDeSenha">Redefinir senha</a>
                <br>
                <input class="btEnviar-adm" type="submit" name="entrar" id="entrar" value="ENTRAR">
           
            </div>
        </form>
        <div class="parte-dois-login-adm">
            <img src="/img/engrena.jpg" alt="engrenagens">
        </div>
    </main>

</body>
