<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head', {css: ['geral.css', 'headerStyle.css', 'mainStyle.css', 'footerStyle.css', 'clienteStyle.css', 'pedidosStyle.css']}) %>

<body>

    <%- include('partials/header') %>

    <main>
        <section class="containerMain">
            <div class="centroPessoal">
                <h1>Centro pessoal</h1>
                <h2><a href="/cliente/editar">Minha conta</a></h2>
                <h2>Meus ativos</h2>
                <h2><a href="/pedidos">Meus pedidos</a></h2>
                <h2>As minhas listas</h2>
                <h2>Serviço ao cliente</h2>
                <h2>Outros serviços</h2>
                <h2>Política</h2>
                <h2>Sair</h2>
            </div>

            <div class="cliente">
                <h1>MEUS PEDIDOS</h1>
                <div class="produto">
                  <h3>Pedido #423423</h3>
                  <p>Produtos do pedido</p>
                </div>
                <div class="informacoes">
                  <p>Data do pedido: 01/04/2023</p>
                  <p>Quantidade de produtos: 2</p>
                  <p>Preço unitário: R$ 50,00</p>
                  <p>Total: R$ 100,00</p>
                </div>
              </div>
                
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>

</body>


</html>