<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/teste.css">
    <script src="/js/teste.js" defer></script>
</head>
<body>
  <h4>dasdasdasdasda</h4>
    <form action="addcar "method="get">
        <h3>Tamanho:</h3>
        <div class="tamanhos">
          <button type="button" name="tamanho" value="pp">PP</button>
          <input type="button" value="pp" >
          <input type="button" value="pp" >
          <input type="checkbox" name="" id="" value="ee">
          <button type="button" name="tamanho" value="p">P</button>
          <button type="button" name="tamanho" value="m">M</button>
          <button type="button" name="tamanho" value="g">G</button>
          <button type="button" name="tamanho" value="gg">GG</button>
        </div>
        <button type="submit">Adicionar ao carrinho</button>
      </form>
    
</body>
    
</html>