
.sacola {
    /*border: 2px solid red;*/
    width: 70%;
    margin: 0 auto;
    min-width: 599px;
    max-width: 900px;
}

.sacola span {
    font-size: 30px;
    font-weight: bold;
}

.sectionSpan {
    border: 2px solid red;
    width: 70%;
    min-width: 599px;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2%;
    margin-top: 2%;
}

.sectionDados {
    border: 2px solid red;
    width: 70%;
    min-width: 599px;
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2%;
    margin-top: 1%;
}

.sectionDados img {
    height: 10vh;
}

/* -------- RESPONSIVIDADE - 600PX --------------- */

@media (max-width: 1024px){

    .sacola {
        margin: 0 auto;
        width: 100%;
        min-width: 0px;
        max-width: 1018px;
    }

    .sacola span {
        font-size: 25px;
    }

    /* ------------------------- SECTION SPAN ----------------- */
    
    .sectionSpan {
        display: none;
    }

    .sectionDados {
        display: none;
    }

}