.containerMain {
	background-color: white;
	padding: 50px 150px 200px 150px;
	display: grid;
	gap: 10px;
	grid-template-areas:
		'header header header header header header'
		'centroPessoal cliente cliente cliente cliente servico'
		'centroPessoal pedidos pedidos pedidos pedidos desejos'
		'nome pedidos pedidos pedidos pedidos none'
		'footer footer footer footer footer footer'
}

.centroPessoal {
	background-color: white;
	/* border: 1px solid black; */
	grid-area: centroPessoal;
	padding: 20px 15px;
}

.centroPessoal h2 {
	padding-bottom: 10px;
}

.centroPessoal h2 a {
	text-decoration: none;
	color: black;
}


.centroPessoal h1 {
	padding-bottom: 35px;
}

.clienteContainer {
	display: flex;
	/* background-color: purple; */
	justify-content: space-between;
	margin-top: 10px;
}

.clienteContainer span {
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.cliente {
	background-color: white;
	/* border: 1px solid black; */
	grid-area: cliente;
	padding: 20px 15px;
}

.cliente h1 {
	padding-bottom: 35px;
}

.cliente a {
	/* border: 1px solid black; */
	width: 100px;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: black;
}

.cliente img {
	padding-bottom: 15px;
	display: inline-block;
	width: 50px;	
}

.pedidosContainer {
	display: flex;
	/* background-color: purple; */
	justify-content: space-between;
	margin-top: 10px;
}

.pedidos img {
	/* border: 1px solid black; */
	display: flex;
	width: 50px;
	padding-bottom: 15px;
	padding-left: 25px;
}

.pedidos {
	background-color: white;
	/* border: 1px solid black; */
	grid-area: pedidos;
	padding: 20px 15px;
}

.pedidos a {
	/* border: 1px solid black; */
	width: 50px;
	padding: 10px;
	text-decoration: none;
	color: black;
	width: 100px;
	text-align: center;
}

.pedidos h1 {
	padding-bottom: 35px;
}

.servicoContainer {
	display: flex;
	/* background-color: purple; */
	justify-content: space-between;
	margin-top: 10px;

}

.servicoContainer img {
	display: inline-block;
	width: 50px;
}

.servico {
	background-color: white;
	/* border: 1px solid black; */
	grid-area: servico;
	padding: 20px 15px;
}

.servico a {
	/* border: 1px solid black; */
	width: 100px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
}

.servico img {
	padding-bottom: 15px;
}

.servico h1 {
	padding-bottom: 35px;
}

.desejos {
	background-color: white;
	/* border: 1px solid black; */
	grid-area: desejos;
	padding: 20px 15px;
}

.desejosContainer {
	/* border: 1px solid black; */
	display: block;
	text-align: center;
}

.desejos img {
	display: inline-block;
	width: 50px;
	/* border: 1px solid black; */
	padding-bottom: 15px;
}

.desejos h1 {
	padding-bottom: 35px;
}

.cliente, .pedidos, .servico, .desejos {
	text-align: center;
}