.containerMain {
	background-color: white;
	padding: 50px 150px 130px 150px;
	display: grid;
	/* gap: 10px; */
	grid-template-areas:
		'header header header header header header'
		'centroPessoal cliente cliente cliente cliente servico'
		'centroPessoal pedidos pedidos pedidos pedidos desejos'
		'nome pedidos pedidos pedidos pedidos none'
		'footer footer footer footer footer footer'
}

.centroPessoal {
	background-color: white;
	grid-area: centroPessoal;
	padding: 20px 15px;
	border-right: 1px solid black;
}

.centroPessoal h2 {
	padding-bottom: 10px;
}

.centroPessoal h4 {
	margin-bottom: 20px;
}

.centroPessoal h4 a {
	text-decoration: none;
	color: black;
}

.centroPessoal h2 {
	padding-bottom: 35px;
}

.clienteContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.centroPessoal h4 {
	font-weight: normal;
}

.clienteContainer span {
	display: flex;
	justify-content: center;
	height: 65px;
}

.cliente {
	background-color: white;
	grid-area: cliente;
	padding: 20px 15px;
}

.cliente h2 {
	padding-bottom: 35px;
}

.cliente a {
	width: 100px;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: black;
}

.cliente img {
	padding-bottom: 15px;
	display: inline-block;
	width: 50px;	
}

.pedidosContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.pedidos img {
	display: flex;
	width: 50px;
	padding-bottom: 15px;
	padding-left: 25px;
}

.pedidos {
	background-color: white;
	grid-area: pedidos;
	padding: 20px 15px;
}

.pedidos a {
	width: 50px;
	padding: 10px;
	text-decoration: none;
	color: black;
	width: 100px;
	text-align: center;
}

.pedidos h2 {
	padding-bottom: 35px;
}

.cliente, .pedidos {
	border-right: 1px solid black;
}

.servicoContainer {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;

}

.servicoContainer img {
	display: inline-block;
	width: 50px;
}

.servico {
	background-color: white;
	grid-area: servico;
	padding: 20px 15px;
}

.servico a {
	width: 100px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
}

.servico img {
	padding-bottom: 15px;
}

.servico h2 {
	padding-bottom: 35px;
}

.desejos {
	background-color: white;
	grid-area: desejos;
	padding: 20px 15px;
}

.desejosContainer {
	display: block;
	text-align: center;
}

.desejos img {
	display: inline-block;
	width: 50px;
	padding-bottom: 15px;
}

.desejos h2 {
	padding-bottom: 35px;
}

.cliente, .pedidos, .servico, .desejos {
	text-align: center;
}