
body {
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
}

aside{
    background-color: rgba(51, 51, 51, 0.98);
    width: 10%;
    
}

.asidebloco1{
    width:100%;
}
/* #logo2{
    margin-left: 4vh;
} */
.titulo-img{ 
    margin-top:1.5vh;
    margin-bottom:1.5vh; 
}
.mobile{
    display: none;
}
.btn{
    text-decoration: none;
    border: 1px solid #000;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 4px;
}
.btn:hover{
    background-color: black;
    color: white
}
.fullcontainer{
    background-color: white;
}
.titulo-img span{
    display: block;
    text-align: center;
    font-size: 2.5vh;
    
}
/* .ul{
    background-color: aqua;
} */

.ul div {
    padding: 5% 0 5% 0;
    border-top: 1px solid white;
    
}
.nth{
    border-bottom: 1px solid white;
}
.ul a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 2vh;
    letter-spacing: 0.05rem;
    
}
.ul a div:hover{
    background-color:white;
    color: black;
}
.fullcontainer{
    width: 90%;
}
/* .cabecalho{
    border: 1px solid #000;
} */
.userbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.user div{
    width: 3vw;
    height: 6vh;
    border-radius: 50%;
}
.user span{
    font-size: 2.5vh;
}
.userbar{
    margin: 1% 1% 0 1%;
    border-bottom: .3vh solid black;
    padding-bottom: 1%;
}
.userbar nav{
    /* border: 1px solid #000; */
    margin: 0 1% 0 0;
    font-size: 2.5vh;
    
    
}
.userbar nav a {
    text-decoration: none;
    color: #000;
}
.user div{
    background-color: green
}
/* .userbar div{
    border: 1px solid #000;
    margin: 1% 0 1% 1%;

} */
.cabecalhoInter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1% 1% 1%;
    border-bottom: .3vh solid black;
}
.add{
    /* border: 1px solid #000; */
    width: 8%;
    margin: 0 2% 0 0;
    font-weight: 400;
    font-size: 2.5vh;
}
.cabecalhoInter h3{
    font-size: 3vh;
}
.table{
    /* border-bottom: 0.3vh solid #000; */
    margin: 0 1% 0 1%;
    /* height: 70vh; */
    
    
}
.tableBusca{
    display: flex;
    justify-content: space-between;
    margin: 1% 0 1% 1%;
}
label{
    font-size: 2vh;
}
.tablepesquisar{
    margin: 0 1% 0 0;
    width: 15%;
    display: flex;
    justify-content: center;
    
}
input{
    width: 90%;
    
    
}
table{
    width: 90%;
    margin: 0 auto;
}
td{
    text-align: center;
    
}
table, th, td {
    border: 1px solid;
    font-size: 2vh;
}
table{
    border: 1px solid;
    border-collapse: collapse;
}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 0.5rem;
}
  
#customers tr:nth-child(even){background-color: #f2f2f2;}
  
#customers tr:hover {background-color: #ddd;}
  
#customers th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    background-color: #333;
    color: white;
}
.acao{
    display: flex;
    justify-content: space-around;
}
.acao div:nth-child(1){
    background-color:rgb(108, 110, 139);
    padding:  1% 5%;
    border-radius: 10%;
    color: white;
}
.acao div:nth-child(1):hover{
    background-color: #333;
}
.acao div:nth-child(2){
    background-color:red;
    padding:  1% 6%;
    border-radius: 50%;
    color: white;
}
.acao div:nth-child(2):hover{
    background-color: rgb(179, 43, 43)
}
.showresults{
    padding-top: 5vh;
    padding-bottom: 9.7vh;
}
.showresults ul{
    display: flex;
    justify-content: center;
}
.showresults ul li{
    list-style-type: none;
    margin-right: 1%;
    
}
.showresults ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
@media (max-width: 912px){
    /* .mobile{
    width:1%;
    display:none;
    align-items:center;
    justify-content: center;
    color: white;
    border: 1px solid black;
    background-color: #333;
    
} */
    aside{
        /* display: block; */
        display: none;
        /* background-color: rgba(172, 28, 28, 0.2)#333; */
        position: fixed;
        left: 0;
        width: 20%;
        height: 100vh;
    }
    .mobile{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 3%;
        border: 1px solid black;
        background-color: #333;
        height: 100vh;
        /* position: fixed;
        left: 20%; */
        
    }
    .mobile div{
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .titulo-img, .ul{
        display: block;
        
    }
    .fullcontainer{
        /* background-color: green; */
        width: 100%;
    }
    .user div{
        display: none;
    }
}

@media (max-width:480px){
    /* main{
        height: 100vh;

    } */
    
    /* .acao{
        display: none;
    } */
}