* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

main {
    width: 100vw;
    height: 90vh;
    font-size: 1.2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-between;
}

main .primeira-section {
    display: flex;
    flex-direction: column; 
    margin: 40px;
    padding: 15px;
    align-items: center;
    text-align: center;

}

.primeira-section p {
    margin-top: 10px;
}

main .segunda-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.segunda-section p {
    margin-top: 10px;
}

main .terceira-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 15px;
}

h1 .titulo-compra{
    margin: 15px;
    padding: 15px;
}

h3 .titulo-h3 {
    margin: 15px;
    padding: 15px;
}

.btInicio {
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-size: 1.0rem;
    border-radius: 8px 8px 8px 8px;
    background-color: rgba(0,0,0,0.1);
    color: black;
    border: none;
    width: auto;
    cursor: pointer;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    transition: 0.25s;
}

.sacola-de-compra {
    margin-top: 10px;
    display: flex;
    width: 100px;
}

button:hover, .link-pedido:hover {
    background-color: rgba(0,0,0,0.8);
    color: aliceblue;
}

.link-inicio{
    text-decoration: none;
    color: black;
}

.link-inicio:hover {
    color: white;
}

.link-pedido{
    display: flex;
    font-size: 1.0rem;
    flex-direction: column;
    width: 200px;
    padding: 8px;
    border-radius: 8px 8px 8px 8px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.1);
    color: black;
    margin-top: 10px;
    transition: 0.25s;
}

/*A partir daqui código somente da keyframe para h1*/

@-webkit-keyframes pulse {
    from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    #animate__pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }

@media (min-width: 1279px) {
    main {
        font-size: 1.0rem;
     
    }
}

@media (max-width: 768px) {
    main {
        font-size: 0.8rem;
        padding: 40px;
    }
}
    
@media (max-width: 480px) {
    main {
        font-size: 0.6rem;
        /* margin-right: 80px; */
        text-align: center;
        padding: 35px;
    }
}


