@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragrafoParaLogin {
    color: #222;
    margin-bottom: 10px;
}


.tituloLogin, .tituloCadastro {
    text-align: center;
} 

#paginaLogin {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    gap: 130px;
}

.login {
    box-sizing: border-box;
    display: flex;
    max-width: 400px;
    max-height: 450px;
    flex-direction: column;
    align-content: center;
    background-color: rgb(240, 240, 240);
    padding: 30px;
    margin-top: 0px;
    /* border: 1.5px solid #999 */
}

.cadastro {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    background-color: rgb(240, 240, 240);
    padding: 30px;
    /* border: 1.5px solid #999 */
}

article h1{
    text-transform:uppercase; 
}

.estiloBotao {
    color: grey;
    width: 300px;
    height: 25px;
    margin: 5px;
    padding: 5px;
    border: 2px solid grey;
    cursor: pointer;
}

.btEnviar{
    background-color: black;
    font-size: 15px;
    color: azure;
    margin: 35px;
    padding: 10px;
    width: 260px;
    cursor: pointer;
}

.login a{
    margin-left: 60px;
}

.div-button {
    display: block;
    max-width: 400px;
}

.formLogin, .formCadastro {
    padding: 0 40px 30px;
}

.form-control-login {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative; 
}

.form-control-login label {
    margin: auto;
}

.form-control-login input {
    border: 2px solid #3E445B;
    outline: 0;
    border-radius: 5px;
    display: block;
}

.form-control-login.success input {
    border: 3px solid #4ECA64;
}

.form-control-login.error input {
    border: 3px solid #DB545A;
}

.form-control-login.success i .img-success {
    visibility: visible;
    width: 15px;
    height: 15px;
}

.form-control-login.error i .img-error {
    visibility: visible;
    width: 15px;
    height: 15px;
}

.form-control-login.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control-login i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control-login small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;
}

@media (min-width: 1280px) {
  
      
        #paginaLogin {
            margin-top: 200px;
        } 

        .login{
            margin-bottom: 50px;
            max-width: 400px;
        }

        .cadastro {
            max-width: 500px;
            max-height: 650px;
            margin-bottom: 50px;
        }

        .div-button {
            display: block;
            max-width: 400px;
        }
            
        .login a{
            margin-left: 55px;
        }
    
        .tituloLogin, .tituloCadastro {
            text-align: center;
        } 
 }

 @media (max-width: 768px) {
 
    #paginaLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        margin: 350px 0px 300px 0px;
        }
    
        .login a{
            margin-left: 50px;
        }

        /* .login{
            margin-bottom: 50px;
        } */
    
        .tituloLogin, .tituloCadastro {
            text-align: center;
        }
 }

@media (max-width: 480px) {
   
    #paginaLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        font-size: 0.8rem;
        margin: 350px 0px 250px 0px;
    }

    .login a{
        margin-left: 35px;
    }

    .tituloLogin, .tituloCadastro {
        text-align: center;
    }

    .login{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 80vw;
        /* max-width: 400px; */
        max-height: 480px;
        background-color: rgb(240, 240, 240);
        padding: 20px;
        text-align: center;
        align-items: center;
        align-content: center;
        align-self: center;
        /* margin: 100px; */
        /* border: 1.5px solid #999 */
    }

    .cadastro {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* max-width: 400px; */
        width: 80vw;
        max-height: 500px;
        background-color: rgb(240, 240, 240);
        padding:20px;
        align-items: center;
        align-content: center;
        /* margin: 100px; */
        /* border: 1.5px solid #999 */
    }

    .estiloBotao {
        color: grey;
        width: 60vw;
        height: 20px;
        margin: 5px;
        padding: 10px;
        border: 2px solid grey;
        cursor: pointer;
    }

    .btEnviar{
        background-color: black;
        font-size: 15px;
        color: azure;
        margin: 35px;
        padding: 10px;
        width: 150px;
        cursor: pointer;
    }
    
}



