<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {css: ['clientes-adm.css']}) %>

  <body>
    <main>
      <aside>
        <div class="asidebloco1">
          <div class="titulo-img">
            <span>BRACKISH</span>
          </div>
          <div class="ul">
            <a href="/clientes-adm"><div class="nth1">Clientes</div></a>
            <a href="/produtos-adm"><div>Produtos</div></a>
            <a href="/pedidos-adm"><div class="nth">Pedidos</div></a>
          </div>
        </div>
      </aside>

      <div class="mobile">
        <div id="botao">|||</div>
      </div>

      <section class="fullcontainer">
        <section class="cabecalho">
          <div class="userbar">
            <div class="user">

              <span>Alexandre Assis Rezende Santos</span>
            </div>
            <nav>
              <a href="">Perfil</a>
              |
              <a href="">Sair</a>
            </nav>
          </div>
          <div class="cabecalhoInter">
            <h3>Clientes</h3>
            <div class="add">
              <button class="adicionar" type="button">Adicionar</button>
            </div>
          </div>
        </section>

        <table class="table table-borderless">
        
          <div class="tableBusca">


            <form class="tablepesquisar" action="/resultado-clientes-adm" method="GET">

              <div class="tableselect">
                <select name="resPorBusca" id="resPorBusca">
                  <option value="1">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <label for="resPorBusca">Resultados por busca</label>
              </div>

              <input
                type="text"
                name="pesquisar"
                id="pesquisar"
                placeholder="Pesquisar">
              <button type="submit"></button>
            </form>

          </div>
            
          <tr id="cabecalhotable">
            <th>Nome</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Ações</th>
          </tr>

          <% clientes.forEach(user => { %>
            
            <tr>
              <td><%= user.nome %></td>
              <td><%= user.telefone %></td>
              <td><%= user.email %></td>
              <td>
                <div class="acao">
                  <div>Editar</div>
                  <div>x</div>
                </div>
              </td>
            </tr>

          <% }) %>

          </table>
          
          <div class="showresults">
            <ul>
              <li><button><</button></li>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li><a href="">5</a></li>
              <li><a href="">6</a></li>
              <li><button>></button></li>
            </ul>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
