<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',  {css: ['geral.css', 'form-add-produto.css']}) %>
<body>
    <main>
        <form action="/salvar-produto-adm" method="post">
    
            <label>
                Nome:
                <input type="text" name="nome" id="nome" placeholder="coloque aqui o nome do produto" />
            </label>
    
            <label for="categorias">Categoria:</label>
            <select name="categorias" id="categorias">
              <option value="1">Categoria 1</option>
              <option value="2">Categoria 2</option>
              <option value="3">Categoria 3</option>
              <option value="4">Categoria 4</option>
              <option value="5">Categoria 5</option>
            </select>
    
            <label>

                Fornecedor:
                <input type="text" name="fornecedor" id="fornecedor" placeholder="coloque aqui o nome do fornecedor/empresa fornecedora" />
            </label>
    
            <label>
                Preço:
                <input type="text" name="preco" id="preco" placeholder="coloque aqui o preço do produto" />
            </label>
    
            <label>
                Foto:
                <img src="" alt="foto do produto">
                <div>Clique para selecione nova imagem</div>
                <input type="file" name="img" id="img">
            </label>
    
            <button type="submit">Salvar</button>
    
        </form>

    </main>
</body>
</html>