     <div class="centroPessoal">
        <h2>Centro pessoal</h2>
        <h4><a href="/cliente/editar">Editar perfil</a></h4>
        <h4><a href="/cliente/pedidos">Meus pedidos</a></h4>
        <h4>As minhas listas</h4>
        <h4>Serviço ao cliente</h4>
        <h4>Outros serviços</h4>
        <h4><a href="/politica">Política</a></h4>
        <h4>Sair</h4>
    </div>