     <div class="centroPessoal">
        <h1>Centro pessoal</h1>
        <h2><a href="/cliente-editar">Minha conta</a></h2>
        <h2>Meus ativos</h2>
        <h2><a href="/pedidos">Meus pedidos</a></h2>
        <h2>As minhas listas</h2>
        <h2>Serviço ao cliente</h2>
        <h2>Outros serviços</h2>
        <h2><a href="/politica">Política</a></h2>
        <h2>Sair</h2>
    </div>