     <div class="centroPessoal">
        <h2>Centro pessoal</h2>
        <h3><a href="/cliente/editar">Editar perfil</a></h3>
        <h3><a href="/cliente/pedidos">Meus pedidos</a></h3>
        <h3>As minhas listas</h3>
        <h3>Serviço ao cliente</h3>
        <h3>Outros serviços</h3>
        <h3><a href="/politica">Política</a></h3>
        <h3>Sair</h3>
    </div>