


<header>
    <div class="containerHeader" id="containerHeader">
        <a href="/home">BRACKISH</a>
        <nav>
            <a href="/feminino">Ajuda</a>
            |
            <a href="/login">Cadastro</a>
            |
            <a href="/login">Login</a>
        </nav>

    </div>

    <div class="menu">
        <a href="/home" id="logo2">
            <img src="/img/earth.png" alt="logo2">
        </a>
        <nav>
            <a href="/resultado-busca?mulher">Feminino</a>
            <a href="/resultado-busca?homem">Masculino</a>
            <a href="/resultado-busca?infantil"><span>Infantil</span>
                <!-- <ul>
                    <li><a href="#">0-2</a></li>
                    <li><a href="#">3-5</a></li>
                    <li><a href="#">5-10</a></li>
                </ul>
            </a> -->
            <a href="/resultado-busca?novasofertas">Lançamentos</a>
            <a href="/resultado-busca?sapatos">Sapatos</a>
            <a href="/resultado-busca?favoritos">Favoritos</a>
            <a href="/resultado-busca?leve2pague1">Promoções</a>
        </nav>

        <div class="pesquisar" id="pesquisar">
            <input type="text" placeholder="Buscar">
            <button type="submit">
                <a href="/resultado_busca.html">
                <img src="/img/loupe.png" alt="">
                </a>
            </button>
        </div>
        <a href="/carrinho" id="carrinho">
            <img src="/img/carrinho.png" alt="carrinho">
            <% if (locals.carrinho == undefined) { %>
                <span>0</span>
            <% }else { %>
                <span><%= carrinho.length %></span>
            <% } %>
            


        </a>
    </div>
</header>