<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="/css/homeStyle.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/footerStyle.css">
    <link rel="stylesheet" href="/css/promocaoStyle.css">
    <link rel="stylesheet" href="/css/carrinho.css"> -->
    <!-- <link rel="stylesheet" href="/css/clientes-adm.css">
    <link rel="stylesheet" href="/css/clienteStyle.css">
    <link rel="stylesheet" href="/css/enderecoStyle.css">
    <link rel="stylesheet" href="/css/finalizacaoCompras.css">
    <link rel="stylesheet" href="/css/gridstyle.css">
    <link rel="stylesheet" href="/css/login-adm.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/pagamentoStyle.css">
    <link rel="stylesheet" href="/css/produtoStyle.css">
    <link rel="stylesheet" href="/css/resultado_busca.css"> -->

    <% for(let arquivo of css){ %>
        <link rel="stylesheet" href="/css/<%= arquivo %>">
    <% } %>

    <script src="js/footer.js" defer></script>
    <script src="js/paginaAdm.js"></script>
    <script src="/js/index.js" defer></script>
    
    <title>BRACKISH</title>
</head>