


<header>
    <div class="containerHeader" id="containerHeader">
        <a href="/home">BRACKISH</a>
        <nav>
            <a href="/cliente">Cliente</a>
            |
            <a href="/login">Cadastro</a>
            |
            <% if(locals.userSession){  %>
                <a href=""> Olá, <%= userSession %></a>
                |    
                <a href="/logout">Sair</a>  
            <% } else { %>
                <a href="/login">Login</a>
            <% } %> 

    </div>

    <div class="menu">
        <a href="/home" id="logo2">
            <img src="/img/earth.png" alt="logo2">
        </a>
        <nav>
            <a href="/resultado-busca?categoria=7">Feminino</a>
            <a href="/resultado-busca?categoria=2">Masculino</a>
            <a href="/resultado-busca?categoria=12"><span>Geek</span>
            <a href="/resultado-busca?categoria=3">Lançamentos</a>
            <a href="/resultado-busca?categoria=11">Sapatos</a>
            <a href="/resultado-busca?categoria=4">Favoritos</a>
            <a href="/resultado-busca?categoria=13">Promoções</a>
        </nav>

        <div class="pesquisar" id="pesquisar">
            <input type="text" placeholder="Buscar">
            <button type="submit">
                <a href="/resultado_busca.html">
                <img src="/img/loupe.png" alt="">
                </a>
            </button>
        </div>
        <a href="/carrinho" id="carrinho">
            <img src="/img/carrinho.png" alt="carrinho">
            <% if (locals.carrinho == undefined) { %>
                <span>0</span>
            <% }else { %>
                <span><%= carrinho.length %></span>
            <% } %>
            


        </a>
    </div>
</header>